.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.profile-stats {
  margin-top: 15px;
  background: #f9f9f9;
  padding: 15px 25px;
  border-radius: 10px;
}
